{% extends "base.html.twig" %}

{% block title %}Page introuvable{% endblock %}

{% block body %}

<div class="container">
    <div class="col mt-5">
        <h1>La page que vous recherchez n'existe pas</h1>
        <p>Vous pouvez retrouner sur la page d'accueil</p>

        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
</div>

{% endblock %}