{% extends 'base.html.twig' %}

{% block title %}Liens utiles
{% endblock %}

{% block body %}
<div class="container-fuild">
	<h1 class="my-5 text-center">Liens utiles</h1>
	<div class="row d-flex justify-content-around">
		<div class="col-md-4">
			<div class="card text-center" style="width: 30rem;">
				<div class="card-body">
					<h2 class="card-title">Jeux et vie quotidienne </h2>
                    <hr>
					<p class="card-text h4 py-4">Vous trouverez ci-dessous des sites qui proposent des jouets ainsi que du matériel de la vie quotidienne (cuillères, brosse, etc.) adapté aux enfants porteurs de handicaps, ainsi qu’un site qui met à disposition une banque de pictogramme gratuit.</p>
                    <hr>
                    <p class="card-title">Hoptoys</p>
					<a href="https://www.hoptoys.fr/" target="_blank" class="btn btn-primary btn-md rounded">S'y rendre</a>
                    <hr>
                    <p class="card-title">Jeu Montessori</p>
					<a href="https://www.jeu-montessori.fr/" target="_blank" class="btn btn-primary btn-md rounded">S'y rendre</a>
                    <hr>
                    <p class="card-title">Pictogrammes</p>
					<a href="http://www.arasaac.org/pictogramas_byn.php" target="_blank" class="btn btn-primary btn-md rounded">S'y rendre</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center" style="width: 30rem;">
				<div class="card-body">
					<h2 class="card-title">Dépistage et démarches administratives</h2>
                    <hr>
					<p class="card-text h4 py-4">Si vous avez des doutes sur le comportement atypique de votre enfant vous pouvez faire diagnostiquer votre enfant.</p>
					<ul>
						<li>Dans le CRA (centre de ressource autisme) de votre région.</li>
						<li>Chez un pédopsychiatre en libéral.</li>
						<li>Chez un psychologue habilité au dépistage de l’autisme.</li>
					</ul>
					<p>Le site gncra.fr vous aidera à trouver les coordonnées de CRA de votre région. <a href="https://gncra.fr/" class="btn btn-primary btn-sm" target="_blank">S'y rendre</a></p>
					<p>Si votre enfant est diagnostiqué autiste, l’une des premières démarches à faire est de constitué un dossier MDPH afin de lui ouvrir des droits financiers qui aideront à supporter le cout des soins et bénéficier du statut handicapé pour votre enfant afin qu’il ait droit à tous les aménagements adéquats à l’école. Ci-dessous, la liste des MDPH en France.</p>
                    <hr>
                    <p class="card-title">CNSA</p>
					<a href="http://www.cnsa.fr/ " target="_blank" class="btn btn-primary btn-md rounded">S'y rendre</a>
            
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center" style="width: 30rem;">
				<div class="card-body">
					<h2 class="card-title">Associations</h2>
                    <hr>
					<p class="card-text h4 py-4">Voici quelques associations pouvant vous éclairer sur la définition de l’autisme ainsi que des conseils et de l’aide sur plusieurs domaines.</p>
                    <hr>
                    <p class="card-title">Autisme-france</p>
					<a href="http://www.autisme-france.fr/" target="_blank" class="btn btn-primary btn-md rounded">S'y rendre</a>
                    <hr>
                    <p class="card-title">Vaincre l'autisme</p>
					<a href="https://vaincrelautisme.org/" target="_blank" class="btn btn-primary btn-md rounded">S'y rendre</a>
                    <hr>
                    <p class="card-title">Autistes sans frontieres</p>
					<a href="https://www.autistessansfrontieres.com/" target="_blank" class="btn btn-primary btn-md rounded">S'y rendre</a>
				</div>
			</div>
		</div>
		
	</div>
</div>


{% endblock %}
