@import url('./bootstrap.min.css');
@import "variables";


.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

#navbar-front {

    background: linear-gradient(-2deg, #000000, #0288d1);

    a {
        color: $textLight;
    }

    .nav-link-home {
        margin-left: 82px;
    }

    #navbar-dropdown-front a {
        color: $textDark;
    }

    .fa-bars {
        color: $textLight;
    }

    @media screen and (max-width: 1000px) {
        .nav-link-home {
            margin-left: 0px;
            margin-top: 52px;
        }
    }
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

    &.avatar-medium {
        max-width: 128px;
        max-height: 128px;
    }

    &.avatar-mini {
        min-width: 28px;
        max-height: 28px;
    }

    &.avatar-micro {
        min-width: 20px;
        max-height: 20px;
    }
}

#randomAvatar {
    font-size: 128px;
}

#randomAvatarMini {
    font-size: 28px;
}

.modal-body i {
    font-size: 45px;
    margin-bottom: 10px;
}

#badgeJob {
    font-size: 13px;
}

.modal-dialog {
    max-width: 615px;
}

span.rating i {
    color: goldenrod;
}

.data-search {
    width: 80%;
    margin: 0 auto;
    height: 54vh;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0000002e, #f1ececc9);
    background-position: center;
    background-size: cover;
    font-family: "roboto", cursive;

    h2 {
        margin-top: -145px;
    }

    .input-group {
        display: flex;
        border-radius: 7px;
        overflow: hidden;
    }

    .form-control {
        height: 73px;
        border: none;
        outline: none;
        font-size: 1.5em;
        font-weight: 500;
        background: #fdfdfd;
        transition: .3s ease;
        color: black;
    }

    input.form-control {
        width: 350px;
    }

    .btn {
        height: 73px;
        border: none;
        width: 55px;
        outline: none;
        font-size: 1em;
        font-weight: 500;
        padding: 0 7px;
        background: white;
        transition: .3s ease;
        color: black;
    }

    select:hover {
        box-shadow: inset 0 0 100px rgba(221, 219, 219, 0.829);
    }

    .btn:hover {
        box-shadow: inset 0 0 100px rgba(221, 219, 219, 0.829);
    }

    .form-group {
        margin-bottom: -7rem;
        margin-top: 5rem;
    }

    @media screen and (max-width:750px) {

        width: 100%;
        height: 70vh;

        h2 {
            margin-top: -120px;
            font-size: 1.1rem;
        }

        .form-control {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .btn {
            width: 37%;
            height: 37px;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
}

.logo {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

    img {
        max-width: 107px;
        max-height: 107px;
        z-index: 9999;
        border-radius: 50%;
        position: absolute;
        top: 17px;
        left: 15px;
        box-shadow: 1px 2px 2px #013552;
    }


}

.bloc-slider {
    position: relative;
    width: 100%;
    background: linear-gradient(#0000002e, #f1ececc9);
    border-radius: 2px;
    margin-bottom: 125px;

    #diaporama {
        margin: 0 auto;
    }

    .img-format {
        width: 45%;
        height: 474px;
        border-radius: 4px;
    }

    i {
        position: absolute;
        opacity: 0;
        transition: opacity .5s ease-in-out, text-shadow .5s ease-in-out;
        color: $textLight;
        font-size: 21px;
        cursor: pointer
    }

    &:hover i {
        opacity: 1;
        transition: opacity .5s ease-in-out, text-shadow .5s ease-in-out;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .513)
    }

    .fa-chevron-left {
        bottom: 2%;
        left: 12%;
    }

    .fa-chevron-right {
        bottom: 2%;
        right: 12%
    }

    .fa-pause,
    .fa-play {
        bottom: 2%;
        right: 49%
    }

    button {
        border: none;
        background: 0 0;
        outline: 0
    }

    #texte-diaporama {
        position: absolute;
        letter-spacing: 5px;
        top: 14%;
        text-shadow: 1px 2px 3px #edeaea;
        right: 4%;
        line-height: 50px;
        max-width: 47%;
        font-size: 1.5rem;
        color: #202020;

        &::first-letter {
            font-size: 2rem;
        }
    }

    @media screen and (max-width:1000px) {

        #texte-diaporama {
            font-size: 1rem;
            max-width: 100%;
            display: contents;
        }

        .img-format {
            width: 100%;
            height: 220px;
        }
    }
}

.card-pro {
    display: flex;
    justify-content: space-around;

    .card {
        background: linear-gradient(113deg, #00476d, #0272af);
    }

    a:link {
        text-decoration: none;
    }

    #link-fullname p:hover {
        transform: scale(1.03);
        transition: 0.5s ease-in-out;
    }

    img,
    i {
        box-shadow: 0px 0px 3px black;
    }

    #btn-card {

        a {
            width: 100%;
            background-color: $textLight;
            border-radius: 7px;
            color: $textDark;
        }

        a:hover{
            background-color: $colorSecondary;
            transition: 0.2s ease-in-out;
            color: white;
        }
    }

    @media screen and (max-width:750px) {
        display: block;
    }
}

.bloc-card-usefullLink {

    .btn-primary {
        background-color: $colorSecondary;

        &:hover {
            background-color: $colorPrimary;
        }
    }

    .display-usefullLink-card {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:1250px) {
            display: block;
        }
    }

    p,
    li {
        color: black;
    }
}

#bloc-profile-account-user {

    p {
        font-size: 1.2rem;
    }
}

#bloc-profile-account-prouser {

    .fa-certificate {
        color: goldenrod;
        font-size: 2.4rem;
        opacity: 0.5;
        position: absolute;
        top: -7px;
        left: 16px;
    }

    p {
        z-index: 2;
    }
}

#footer {
    background: linear-gradient(7deg, #000000, #0288d1);
    margin-top: 150px;

    img {
        position: absolute;
        top: -36px;
        max-width: 130px;
    }

    p {
        color: $textLight;
    }

    @media screen and(max-width:750px) {
        div.container {
            text-align: end !important;
        }
    }
}

.logo:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
}

.logo:before {
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.logo.effect-logo {
    background: rgba(255, 255, 255, 0.1);
    transition: transform ease-out 0.1s, background 0.1s;
}

.logo.effect-logo:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px $colorSecondary;
    opacity: 0;
    transform: scale(0.9);
}

.logo.effect-logo:hover {
    background: rgba(255, 255, 255, 0.05);
    transform: scale(0.90);
    color: rgba(255, 255, 255, 0.719);
}

.logo.effect-logo:hover:after {
    animation: sonar 0.9s ease-in-out 75ms;
}

.aboutus-section {
    img {
        width: 100%;
    }

    p {
        color: black;
        font-size: 1.2rem;
    }

    i {
        color: $textDark;
    }

    cite {
        color: $textDark;
    }

    h4,
    h2 {
        color: $textDark;
    }
}

@keyframes sonar {
    0% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.596), 0 0 10px 10px $colorSecondary, 0 0 0 10px #0177B7;
    }

    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 10px 10px $colorSecondary, 0 0 0 10px #0177B7;
        transform: scale(1.5);
        opacity: 0;
    }
}

#bloc-contact-sos-aut {
    .btn {
        background-color: $colorSecondary;
    }

    .form-group {
        display: flex;
        align-items: baseline;
    }

    .form-control {
        font-size: 1.3rem;
        background-color: #03030313;
    }

    i {
        font-size: 1.5rem;
        color: #01527E;
    }
}