@import url('./bootstrap.min.css');
@import "variables";


.container-fluid, .container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

#navbar-front{

    background: linear-gradient(to bottom, $colorPrimary, #0288d182) ;

    a {
        color: $textLight;
    }

    .nav-link-home{
        margin-left: 70px;
    }

    #navbar-dropdown-front a {
        color: $textDark;
    }

    .fa-bars{
        color: $textLight;
    }

    @media screen and (max-width: 1000px){
        .nav-link-home{
            margin-left: 0px;
            margin-top: 52px;
        }
    }
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

    &.avatar-medium {
        max-width: 128px;
        max-height: 128px;
    }

    &.avatar-mini {
        min-width: 24px;
        max-height: 24px;
    }

    &.avatar-micro {
        min-width: 20px;
        max-height: 20px;
    }
}

#randomAvatar {
    font-size: 128px;
}

.modal-body i {
    font-size: 45px;
    margin-bottom: 10px;
}

#badgeJob {
    font-size: 13px;
}

.modal-dialog {
    max-width: 615px;
}

span.rating i {
    color: goldenrod;
}


.data-search {
    width: 80%;
    margin: 0 auto;
    height: 40vh;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#00000033, #000000b0);
    background-position: center;
    background-size: cover;
    font-family: "roboto", cursive;

    .input-group {
        display: flex;
        border-radius: 7px;
        overflow: hidden;
    }

    .form-control {
        height: 50px;
        border: none;
        outline: none;
        font-size: 1em;
        font-weight: 500;
        background: #fdfdfd;
        transition: .3s ease;
        color: black;
    }

    input.form-control {
        width: 350px;
    }

    .btn {
        height: 50px;
        border: none;
        width: 55px;
        outline: none;
        font-size: 1em;
        font-weight: 500;
        padding: 0 7px;
        background: white;
        transition: .3s ease;
        color: black;
    }

    select:hover {
        box-shadow: inset 0 0 100px rgba(221, 219, 219, 0.829);
    }

    .btn:hover {
        box-shadow: inset 0 0 100px rgba(221, 219, 219, 0.829);
    }
}

.logo {
    max-width: 114px;
    max-height: 114px;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    left: 6px;
    box-shadow: 1px 2px 2px #013552;

    &.logo-footer {
        max-width: 148px;
        max-height: 148px;
        margin-left: 15px;
    }
}    

.bloc-slider{
    position: relative;
    width: 100%;
    background: linear-gradient(#00000033, #000000b0);
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 125px;

    #diaporama{
        margin: 0 auto;
    }

    .img-format{
        width: 50%;
        height: 352px;
        border-radius: 5%;
        box-shadow: 2px 4px 13px #000000;
    }

    i {
        position: absolute;
        opacity: 0;
        transition: opacity .5s ease-in-out, text-shadow .5s ease-in-out;
        color: $textLight;
        font-size: 21px;
        cursor: pointer
    }

    &:hover i {
        opacity: 1;
        transition: opacity .5s ease-in-out, text-shadow .5s ease-in-out;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .513)
    }

    .fa-chevron-left {
        bottom: 2%;
        left: 12%;
    }

    .fa-chevron-right {
        bottom: 2%;
        right: 12%
    }

    .fa-pause, .fa-play {
        bottom: 2%;
        right: 49%
    }

    button {
        border: none;
        background: 0 0;
        outline: 0
    }

    #texte-diaporama {
        position: absolute;
        top: 2%;
        text-shadow: 1px 2px 3px black;
        right: 4%;
        max-width: 40%;
        font-size: 1.5rem;
        color: #f6f7ff;
    }
}