<footer class="container mt-5 bg-light py-5 text-center">
    <div class="row">
        <div class="col-6">
        <img src="/images/logo_sos_autisme.png" class="logo logo-footer" alt="logo de sos-autisme">
        <p>Copyright sos-autisme</p>
        <p>Webmaster : EL DIB Ethan</p>
        </div>
        <div class="col-6">
        </div>
    </div>
</footer>