{% extends 'base.html.twig' %}

{% block title %}Liste des MDPH
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center my-5">
			Liste et adresses des MDPH
			<br>
			<p class="h6 mt-1">Maisons départementales des personnes handicapées</p>
		</h1>

		<table >
			<tbody>
				<tr>
					<td class="text-center" width="98%">
						<p class="mb-5 h5">La
							<a href="http://scolaritepartenariat.chez-alice.fr/page231.htm">
								<strong>CNSA</strong>
							</a>
							(Caisse Nationale de Solidarité pour l'Autonomie) publie la liste des MDPH.<br>
							Voir
							<a href="http://www.cnsa.fr/">http://www.cnsa.fr</a>
							et inscrire dans la case "Rechercher" une MDPH/Département le n° du département.<br>
							Une liste des MDPH sur le site GRATH :
							<a href="http://www.accueil-temporaire.com/mdph-mda">http://www.accueil-temporaire.com/mdph-mda</a>
						</p>
						
					</td>

				</tr>
				<tr>
					<td colspan="2" width="100%">
						<table class="table table-hover table-sm">
							<colgroup><col width="38*">
								<col width="83*">
								<col width="135*">
							</colgroup>
							<tbody>
								<tr>
									<td width="15%" valign="top">
										<p>
											<strong>01<br>
												AIN</strong>
										</p>
									</td>
									<td width="33%">
										<p>MDPH 01<br>
											13 avenue de la Victoire<br>
											BP 45<br>
											01012 Bourg en Bresse cédex</p>
									</td>
									<td width="53%">
										<p>0 800 888 444<br>
											mdph@cg01.fr<br>
											<a href="http://www.ain.fr/jcms/cd_6241/la-mdph-une-maison-pour-tous">http://www.ain.fr/jcms/cd_6241/la-mdph-une-maison-pour-tous</a>
										</p>
									</td>

								</tr>


								<tr>
									<td width="15%" valign="top">
										<p>
											<strong>02<br>
												AISNE</strong>
										</p>
									</td>
									<td width="33%">
										<p>MDPH 02<br>
											Route de Besny<br>
											02000 Laon</p>
									</td>
									<td width="53%">
										<p>03 23 24 89 89<br>
											Fax : 03.23.24.89.65<br>
											mdph@cg02.fr<br>
											<a href="http://aisne.com/La-MDPH-de-l-Aisne">http://aisne.com/La-MDPH-de-l-Aisne</a>
										</p>
									</td>
								</tr>

								<tr>
									<td width="15%" valign="top">
										<p>
											<strong>03<br>
												ALLIER</strong>
										</p>
									</td>
									<td width="33%">
										<p>MDPH 03<br>
											Château de Bellevue<br>
											Rue Aristide Briand<br>
											03400 Yzeure</p>

										<p>Antenne de Montluçon<br>
											11 rue Desaix<br>
											03100 Montluçon<br>
											Tél. : 04.70.34.15.00</p>

										<p>Antenne de Vichy<br>
											71 allée des Ailes<br>
											03200 Vichy<br>
											Tél. : 04.70.34.15.50<br>
											Fax : 04.70.96.53.71</p>
									</td>
									<td width="53%">
										<p>04 70 34 15 25<br>
											Fax : 04.70.34.15.26<br>
											picherit.l@cg03.fr</p>

										<p>
											<a href="http://www.mdph03.fr/" target="Ouvrir http://www.mdph03.fr/ - [Nouvelle fenêtre]">htpp://www.mdph03.fr/</a><br>
											<br>
											<a href="http://www.mdph03.fr/12-vos-antennes.htm">http://www.mdph03.fr/12-vos-antennes.htm</a>
										</p>
									</td>
								</tr>

								<tr>
									<td width="15%" valign="top">
										<p>
											<strong>04<br>
												ALPES HAUTE PROVENCE</strong>
										</p>
									</td>
									<td width="33%">
										<p>MDPH 04<br>
											Immeuble François Cuzin<br>
											4, rue de la GraveI<br>
											04000 DIGNE les BAINS</p>
									</td>
									<td width="53%">
										<p>Standard : 04.92 30 09 90 / Pôle jeunes : 04 92 30 09 80<br>
											<a href="mailto:contact@mdph04.fr">contact@mdph04.fr</a><br>
											<a href="https://annuaire.action-sociale.org/MDPH/MDPH-04-Alpes-de-Haute-Provence.html">https://annuaire.action-sociale.org/MDPH/MDPH-04-Alpes-de-Haute-Provence.html</a>
										</p>
									</td>
								</tr>

								<tr>
									<td width="15%" valign="top">
										<p>
											<strong>05<br>
												HAUTES ALPES</strong>
										</p>
									</td>
									<td width="33%">
										<p>MDPH 05<br>
											5 C rue Capitaine de Bresson<br>
											Bât. Le Relais<br>
											ou : 29 bis av. du_ Commandantr Dumont<br>
											05000 GAP</p>
									</td>
									<td width="53%">
										<p>04 92 20 63 90<br>
											<a href="mailto:mdph@mdph.cg05.fr">mdph@mdph.cg05.fr</a>
										</p>
									</td>
								</tr>

								<tr>
									<td width="15%" valign="top">
										<p>
											<strong>06<br>
												ALPES MARITIMES</strong>
										</p>
									</td>
									<td width="33%">
										<p>MDPH 06<br>
											27, boulevard Paul Montel<br>
											Nice Leader<br>
											Bâtiment Ariane<br>
											06200 NICE</p>
									</td>
									<td width="53%">
										<p>0 805 560 580<br>
											pour les perrsonnes sourdes :
											<a href="mailto:handicapauditif-mdph06@cg06.fr">handicapauditif-mdph06@cg06.fr</a><br>
											<br>
											site :
											<a href="http://www.mdph06.fr/">www.mdph06.fr</a>
										</p>
									</td>
								</tr>

								<tr>
									<td width="15%" valign="top">
										<p>
											<strong>07<br>
												ARDECHE</strong>
										</p>
									</td>
									<td width="33%">
										<p>MDPH 07<br>
											Pôle Astier-Froment BP 606<br>
											07007 Privas cedex</p>
									</td>
									<td width="53%">
										<p>04 75 66 97 20<br>
											mdph@cg07.fr</p>
									</td>
								</tr>

								<tr>
									<td width="15%" valign="top">
										<p>
											<strong>08<br>
												ARDENNES</strong>
										</p>
									</td>
									<td width="33%">
										<p>MDPH<br>
											Hôtel du Département<br>
											08000 Charleville Mézières</p>
									</td>
									<td width="53%">
										<p>03 24 59 61 69<br>
											didier.hamel@cg08.fr</p>
									</td>
								</tr>

								<tr>
									<td width="15%" valign="top">
										<p>
											<strong>09<br>
												ARIEGE</strong>
										</p>
									</td>
									<td width="33%">
										<p>MDPH<br>
											Conseil Général<br>
											rue du Cap de la Ville<br>
											09000 Foix</p>
									</td>
									<td width="53%">
										<p>05 61 02 09 09<br>
											calvarez@cg09.fr</p>
									</td>
								</tr>

								<tr>
									<td width="15%" valign="top">
										<p>
											<strong>10<br>
												AUBE</strong>
										</p>
									</td>
									<td width="33%">
										<p>MDPH<br>
											Cité administrative des Vassaules<br>
												BP 770 10026 Troyes cedex</p>
										</td>
										<td width="53%">
											<p>03 25 42 65 70<br>
												didier.malnoury@cg10.fr<br>
												<a href="http://www.mdph10.fr/">http://www.mdph10.fr/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>11<br>
													AUDE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												18 rue du Moulin de la Seigne<br>
												11855 Carcassonne cedex 9</p>
										</td>
										<td width="53%">
											<p>04 68 77 23 23 ou 0800 777 732(appel gratuit depuis un poste fixe)<br>
												mdph@cg11.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>12<br>
													AVEYRON</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												12 rue F. Mazenq<br>
												12000 Rodez</p>
										</td>
										<td width="53%">
											<p>05 65 73 32 60<br>
												accueil@mdph12.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>13<br>
													BOUCHES DU RHONE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												4 quai d'Arenc<br>
												13304 Marseille cedex 02</p>

											<p>
												<strong>Les antennes territoriales</strong>
											</p>

											<ul>
												<li>
													<p>
														<strong>AUBAGNE</strong><br>
														MDS - 5 rue Joseph Lafond<br>
														13400 AUBAGNE<br>
														Tél. : 04.13.31.06.00</p>

												</li>
												<li>
													<p>
														<strong>ARLES</strong><br>
														CCAS d'ARLES<br>
														11 rue Parmentier<br>
														13200 ARLES<br>
														Tél. : 04.90.18.46.80</p>

												</li>
												<li>
													<p>
														<strong>MARTIGUES<br>
														</strong>Hôtel de l'Agglomération<br>
														RP de l'Hôtel de Ville - BP 90104<br>
														13693 MARTIGUES CEDEX<br>
														Tél.: 04.42.06.90.11</p>

												</li>
												<li>
													<p>
														<strong>SALON de PROVENCE<br>
														</strong>CCAS de SALON<br>
														65, avenue Michelet<br>
														13300 SALON DE PROVENCE Tél. : 04.90.56.88.66</p>

												</li>
											</ul>

										</td>
										<td width="53%" valign="top">
											<p><br>
												Numéro Azur MDPH 13 : 0811.46.31.13 (prix d'un appel local)<br>
												0800.814.844 (numéro vert)<br>
												E.mail : accueil.information.mdph@msph13.fr<br>
												site :
												<a href="http://www.mdph13.fr/">http://www.mdph13.fr/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>14<br>
													CALVADOS</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 14<br>
												17 rue du 11 novembre<br>
												14000 Caen</p>
										</td>
										<td width="53%">
											<p>0 800 100 522<br>
												02 31 78 91 75<br>
												mdph@cg14.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>15<br>
													CANTAL</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Espace Georges Pompidou<br>
												Pôle Solidarité Départementale<br>
												Maison départementale des personnes handicapées<br>
												3 rue Alexandre Pinard<br>
												15000 AURILLAC</p>
										</td>
										<td width="53%">
											<p>Tél : 04 71 43 88 88<br>
												fax : 04 71 49 79 80<br>
												Mél :
												<a href="http://www.cantal.fr/contactez-le-conseil-general-du-cantal-c32-auvergne-aurillac-saint-flour-mauriac.html" target="Formulaire de contact - cantal.fr - Nouvelle fenêtre">http://www.cantal.fr/contactez-le-conseil-general-du-cantal-c32-auvergne-aurillac-saint-flour-mauriac.html</a><br>
												Site :
												<a href="http://www.cantal.fr/" target="cantal.fr - Nouvelle fenêtre">http://www.cantal.fr</a>
											</p>

											<p><br>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>16<br>
													CHARENTE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 16<br>
												15 boulevard Jean Moulin<br>
												Ma Campagne<br>
												16000 Angoulême</p>
										</td>
										<td width="53%">
											<p>0800 00 16 00<br>
												ffarge@cg16.fr<br>
												<a href="http://www.mdph16.fr/">http://www.mdph16.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>17<br>
													CHARENTE MARITIME</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 17<br>
												2 rue Jéricho - CS 50145<br>
												17005 La Rochelle Cedex 1</p>
										</td>
										<td width="53%">
											<p>0 800 15 22 15 (appel gratuit depuis les réseaux fixes)<br>
												mdph@cg17.fr<br>
												<a href="https://la.charente-maritime.fr/personnes-handicapees">https://la.charente-maritime.fr/personnes-handicapees</a>
											</p>

											<p><br>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>18<br>
													CHER</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												route de Guerry<br>
												18021 Bourges Cedex</p>
										</td>
										<td width="53%">
											<p>0800 2006 18<br>
												ou 02 48 27 31 31<br>
												mdph@mdph.departement18.fr<br>
												<a href="https://www.departement18.fr/Maison-departementale-des-personnes-handicapees-86">https://www.departement18.fr/Maison-departementale-des-personnes-handicapees-86</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>19<br>
													CORREZE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH Corrèze<br>
												2 rue du Docteur Ramon<br>
												19000 TULLE</p>
										</td>
										<td width="53%">
											<p>standard : 05.55.93.49.10<br>
												fax : 05.55.93.49.11<br>
												directrice : Nathalie MARRIEN<br>
												mail :
												<a href="mailto:mdph@cg19.fr">mdph@cg19.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>20 A<br>
													CORSE DU SUD</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 2A<br>
												Avenue du Mont Thabor-Immeuble Castellani<br>
												BP 80962<br>
												20700 Ajaccio CEDEX 9</p>
										</td>
										<td width="53%">
											<p>04 95 10 40 90<br>
												simone.bandioli@cg-corsedusud.fr<br>
												<a href="http://www.cg-corsedusud.fr/solidarite/dependance-et-handicap/la-mdph/">http://www.cg-corsedusud.fr/solidarite/dependance-et-handicap/la-mdph/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>20 B<br>
													HAUTE CORSE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 2B<br>
												10, lesTerrasses du Fango<br>
												Rue du Juge Falcone<br>
												20405 Bastia Cedex 9</p>
										</td>
										<td width="53%">
											<p>04 95 30 08 35<br>
												polmeta@cg2b.fr<br>
												<a href="http://www.mdph2b.fr/">http://www.mdph2b.fr/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>21<br>
													COTE D'OR</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 21<br>
												Cité Départementale Henry Berger<br>
												1 rue Joseph Tissot BP 1601<br>
												21035 Dijon cedex</p>
										</td>
										<td width="53%">
											<p>0800 80 10 90<br>
												(gratuit depuis un poste fixe)<br>
												mdph@cg21.fr (?)</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>22<br>
													COTES D'ARMOR</strong>
											</p>
										</td>
										<td width="33%" valign="top">
											<p>MDPH<br>
												3 rue Villiers de l'Isle Adam<br>
												CS50401<br>
												22194 PLERIN CEDEX</p>
										</td>
										<td width="53%">
											<p>Accueil téléphonique - Secrétariat :<br>
												Tél. : 02.96.01.01.80<br>
												Fax ; 02.96.01.01.81<br>
												mail :
												<a href="mailto:mdph@mdph.cg22.fr">mdph@mdph.cg22.fr</a><br>
												site Internet :
												<a href="http://mdph.cotesdarmor.fr/">http://mdph.cotesdarmor.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>23<br>
													CREUSE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												2 bis, rue de la République – BP 59<br>
												23011 Guéret Cedex</p>
										</td>
										<td width="53%">
											<p>Tél. : 05.44.30.28.28<br>
												Fax : 05.44.30.28.29<br>
												<a href="mailto:Mdph23@cg23.fr">mdph23@cg23.fr</a><br>
												Les horaires d’ouverture du standard téléphonique sont 8h30-11h30 et 13h30-16h30<br>
												(Sauf vendredi et veille de fête : fermeture du standard téléphonique à 16h00).</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>24<br>
													DORDOGNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 24<br>
												Bâtiment E de la cité Administrative Bugeaud<br>
												24016 Périgueux cedex</p>
										</td>
										<td width="53%">
											<p>Tél : 05 53 03 33 55<br>
												Fax : 05 53 03 33 56<br>
												mdph24@dordogne.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>25<br>
													DOUBS</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 25<br>
												6 C Boulevard Diderot<br>
												25043 Besançon Cedex</p>
										</td>
										<td width="53%">
											<p>Tél : 03.81.525.425<br>
												Fax : 03.81.52.54.26<br>
												Email :
												<a href="mailto:contact@mdph.doubs.fr">contact@mdph.doubs.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>26<br>
													DROME</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 26<br>
												Parc de Lautagne<br>
												42 C, Avenue des Langories Bt G<br>
												B.P. 145<br>
												26905 VALENCE Cedex 9</p>
										</td>
										<td width="53%">
											<p>Téléphone : 04 75 85 88 90<br>
												Télécopie : 04 75 60 58 44<br>
												Mail :
												<a href="mailto:MDPH@ladrome.fr">MDPH@ladrome.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>27<br>
													EURE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 27<br>
												Maison Départementale des Personnes<br>
												Handicapées de l'Eure<br>
												11, rue Jean de la Bruyère<br>
												27000 EVREUX</p>
										</td>
										<td width="53%">
											<p>Tel : 02 32 31 96 13 (accueil téléphonique)<br>
												Fax: 02 32 60 45 40<br>
												Mail :
												<a href="mailto:mdph.eure@cg27.fr">mdph.eure@cg27.fr</a><br>
												<a href="http://www.mdph27.fr/">http://www.mdph27.fr/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>28<br>
													EURE ET LOIR</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 28<br>
												57bis rue du docteur Maunoury<br>
												28000 Chartres</p>
										</td>
										<td width="53%">
											<p>02 37 33 46 46<br>
												lucia.gaudin@cg28.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>29<br>
													FINISTERE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 29<br>
												1C rue Félix Le Dantec<br>
												29018 QUIMPER Cedex</p>
										</td>
										<td width="53%">
											<p>Tél. : 02 98 90 50 50<br>
												Fax : 02 98 90 90 51<br>
												contact@mdph29.fr<br>
												<a href="http://www.mdph29.fr/">http://www.mdph29.fr/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>30<br>
													GARD</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 30<br>
												Parc Georges Besse<br>
												115 - 116 Allée Norbert Wiener<br>
												30000 Nîmes</p>
										</td>
										<td width="53%">
											<p>n° Vert 0 800 20 50 88 ou 04 66 02 78 00<br>
												mdph@cg30.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>31<br>
													HAUTE GARONNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 31<br>
												10 place Alphonse Jourdain<br>
												31000 Toulouse</p>
										</td>
										<td width="53%">
											<p>0 800 31 01 31 (n° vert)<br>
												05 34 33 11 00 pôle adulte<br>
												05 34 33 11 61 pôle enfant<br>
												mail :
												<a href="mailto:mdph@cg31.fr">mdph@cd31.fr<br>
												</a>site :
												<a href="http://www.mdph31.fr/">http://www.mdph31.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>32<br>
													GERS</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 32<br>
												12 rue Pelletier d’Oisy<br>
												32000 Auch</p>
										</td>
										<td width="53%">
											<p>0 800 32 31 30 (n° vert)<br>
												05 62 61 76 76<br>
												mdph32@cg32.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>33<br>
													GIRONDE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 33<br>
												Immeuble Le Phénix<br>
												264 bd Godard<br>
												33300 Bordeaux</p>
										</td>
										<td width="53%">
											<p>05 56 99 69 00<br>
												mdph-accueil@cg33.fr<br>
												site :
												<a href="http://www.mdph33.fr/">http://www.mdph33.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>34<br>
													HERAULT</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 34<br>
												59 avenue de Fès<br>
												BP 7353<br>
												34086 Montpellier cedex 4</p>
										</td>
										<td width="53%">
											<p>0 810 811 059 (coût d’un appel local)<br>
												contact@mdph34.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>35<br>
													ILLE ET VILAINE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 35<br>
												19 B rue de Chatillon<br>
												CS 13103<br>
												35031 RENNES CEDEX</p>
										</td>
										<td width="53%">
											<p>Tél : 0 810 01 19 19<br>
												Fax : 02.99.86.33.10<br>
												<a href="http://www.mdph35.fr/">http://www.mdph35.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>36<br>
													INDRE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Centre Colbert<br>
												Bâtiment E<br>
												4 rue Eugène Rolland<br>
												BP 627<br>
												36020 Châteauroux</p>
										</td>
										<td width="53%">
											<p>Tél : 02 .5 4. 35 .24.24<br>
												Fax : 02.54.35.24.29<br>
												Email :
												<a href="mailto:mdph36@mdph36.fr">mdph36@mdph36.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>37<br>
													INDRE ET LOIRE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 37<br>
												19 rue Édouard Vaillant CS 14233<br>
												37042 Tours cedex 1</p>
										</td>
										<td width="53%">
											<p>02 47 75 26 66<br>
												Courriel :
												<a href="mailto:info@mdph37.fr">info@mdph37.fr</a><br>
												Site Internet :
												<a href="http://www.mdph37.fr/">http://www.mdph37.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>38<br>
													ISERE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												ou :Maison Départementale de l'Autonomie<br>
												15 avenue Doyen Louis Weil<br>
												38010 Grenoble cedex 1</p>

										</td>
										<td width="53%">
											<p>CEntre de Ressources Départemental pour l’Autonomie (CERDA)<br>
												15 avenue Doyen Louis Weil<br>
												38010 Grenoble cedex 1<br>
												04 38 12 48 48<br>
												ou 0800 800 083 (appel gratuit d'un poste fixe)<br>
												mdphi@cg38.fr<br>
												<a href="https://www.isere.fr/mda38/Pages/default.aspx">https://www.isere.fr/mda38/Pages/default.aspx</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>39<br>
													JURA</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 39<br>
												355 boulevard Jules Ferry<br>
												BP 40044<br>
												39002 LONS LE SAUNIER</p>
										</td>
										<td width="53%">
											<p><br>
												Tél. 03 84 87 40 44<br>
												n° vert 0 800 39 39 00 N° vert : 0 800 39 39 00<br>
												email :
												<a href="mailto:mdph39@cg39.fr">mdph39@cg39.fr<br>
													https://www.mdph39.fr/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>40<br>
													LANDES</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Conseil général des Landes<br>
												23, avenue Victor Hugo<br>
												40025 Mont de Marsan cedex</p>
										</td>
										<td width="53%">
											<p>05 58 05 40 40<br>
												francis.lacoste@cg40.fr<br>
												<a href="http://www.handicaplandes.org/">http://www.handicaplandes.org</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>41<br>
													LOIR ET CHER</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 41<br>
												Centre administratif<br>
												34 avenue Maumoury<br>
												41011 Blois cedex</p>
										</td>
										<td width="53%">
											<p>02 54 58 44 40<br>
												accueil.mdph@cg41.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>42<br>
													LOIRE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												23, rue d'Arcole BP 264<br>
												42016 Saint-Etienne cedex 1<br>
												<br>
												Territoire d'action sociale du Roannais<br>
												31-33 rue Alexandre Raffin<br>
												42328 Roanne cedex<br>
												Territoire d'action sociale du Gier-Ondaine-Pilat<br>
												31 rue de la République - BP 159<br>
												42403 Saint-Chamond cedex</p>
										</td>
										<td width="53%">
											<p>04 77 49 91 91<br>
												<a href="mailto:jean-noel.exbrayat@mdph42.cg42.fr">jean-noel.exbrayat@mdph42.cg42.fr</a>
											</p>

											<p>04 77 49 91 91</p>

											<p>04 77 49 91 91</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>43<br>
													HAUTE LOIRE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 43<br>
												9 Rue des Moulins - B.P. 114<br>
												43003 LE PUY EN VELAY CEDEX</p>
										</td>
										<td width="53%">
											<p>Tél : 04.71.07.21.80<br>
												Fax : 04.71.07.21.99<br>
												Mail :
												<a href="http://scolaritepartenariat.chez-alice.fr/accueil@mdph43.fr">accueil@mdph43.fr</a>
												<a href="https://annuaire.action-sociale.org/MDPH/MDPH-43-Haute-Loire.html"><br>
												</a>https://annuaire.action-sociale.org/MDPH/MDPH-43-Haute-Loire.html</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>44<br>
													LOIRE ATLANTIQUE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 44<br>
												300 route de Vannes<br>
												BP 10147<br>
												44701 ORVAULT cedex 1</p>

											<p>MDPH antenne St Nazaire<br>
												12, Place Pierre Sémard<br>
												44600 Saint-Nazaire<br>
												02 49 77 41 21</p>
										</td>
										<td width="53%">
											<p>08 00 40 41 44<br>
												02 28 09 40 50<br>
												accueil.mdph@cg44.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>45<br>
													LOIRET</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH du Loiret<br>
												15 rue Claude Lewy<br>
												CS 38112<br>
												45081 Orléans cedex 2</p>
										</td>
										<td width="53%">
											<p>0 800 88 11 20 ou 02 38 25 40 40<br>
												<a href="mailto:contact@mdph.loiret.fr">contact@mdph.loiret.fr</a><br>
												<a href="https://annuaire.action-sociale.org/MDPH/MDPH-45-Loiret/Formulaires.html">https://annuaire.action-sociale.org/MDPH/MDPH-45-Loiret/Formulaires.html</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>46<br>
													LOT</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												304 rue Victor Hugo<br>
												46000 Cahors</p>
										</td>
										<td width="53%">
											<p>800 046 246 (numéro vert)<br>
												ou 05 65 20 49 00<br>
												<a href="mailto:contact@mdph46.fr">contact@mdph46.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>47<br>
													LOT ET GARONNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Hôtel du département<br>
												1633 av. du Mal Leclerc<br>
												47000 AGEN</p>
										</td>
										<td width="53%">
											<p>05 53 69 20 50<br>
												mdph47@cg47.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>48<br>
													LOZERE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH :</p>

											<p>6, avenue du Père Coudrin</p>

											<p>48000 Mende</p>
										</td>
										<td width="53%">
											<p>04 66 40 60 70<br>
												direction@mdph48.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>49<br>
													MAINE ET LOIRE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 49<br>
												35, rue du Château d’Orgemont<br>
												49000 Angers</p>
										</td>
										<td width="53%">
											<p>Accueil : 02 41 81 60 77<br>
												Fax : 02 41 81 60 99<br>
												n° vert : 0 800 49 00 49<br>
												<a href="mailto:contact@mdph49.fr">contact@mdph49.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>50<br>
													MANCHE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 50<br>
												32 rue Croix Canuet<br>
												50009 SAINT-LO Cédex<br>
												<br>
												MDPH Antenne CHERBOURG<br>
												Centre d'Affaires Atlantique<br>
												Boulevard Félix Amiot<br>
												50102 CHERBOURG</p>
										</td>
										<td width="53%" valign="top">
											<p><br>
												Accueil<br>
												n° azur 0 810 10 10 50<br>
												info@mdph50.fr</p>

											<p><br>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>51<br>
													MARNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 51<br>
												50 avenue Patton<br>
												51000 Chalons en Champagne</p>
										</td>
										<td width="53%">
											<p>03 26.26.06.06<br>
												<a href="http://scolaritepartenariat.chez-alice.fr/accueil@mdph51.fr">accueil@mdph51.fr</a>
												<a href="http://www.marne.fr/mdph"><br>
												</a>http://www.marne.fr/mdph</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>52<br>
													HAUTE MARNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												52 Cours Marcel Baron BP 42021<br>
												52901 Chaumont cedex</p>
										</td>
										<td width="53%">
											<p>9 03 25 01 19 51<br>
												christine.selski@haute-marne.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>53<br>
													MAYENNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 53<br>
												BP 10 635<br>
												53006 Laval cedex</p>
										</td>
										<td width="53%">
											<p>0 810 10 00 26<br>
												michel.malle@cg53.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>54<br>
													MEURTHE ET MOSELLE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												123, rue Ernest Albert - BP 31030<br>
												54035 Nancy cedex<br>
												54521 LAXOU CEDEX</p>
										</td>
										<td width="53%">
											<p>03.83.97.44.20<br>
												sdussine-mdph@cg54.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>55<br>
													MEUSE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH de la Meuse<br>
												5 espace Theuriet<br>
												55000 BAR LE DUC</p>
										</td>
										<td width="53%">
											<p>03 29 46 70 70<br>
												contact@mdph55.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>56<br>
													MORBIHAN</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Maison Départementale des Personnes Handicapées<br>
												Immeuble Gwenn Ha Du<br>
												Parc Laroiseau<br>
												16 Rue Ella Maillard<br>
												BP 379<br>
												56009 Vannes Cedex</p>
										</td>
										<td width="53%">
											<p>Tél. 02.97.62.74.74<br>
												Fax. 02.97.62.74.94<br>
												contact@mda56.fr</p>

											<p>
												<a href="http://annuaire.action-sociale.org/MDPH/MDPH-56-Morbihan.html">http://annuaire.action-sociale.org/MDPH/MDPH-56-Morbihan.html</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>57<br>
													MOSELLE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 57<br>
												EUROPLAZA Bâtiment D - Entrée D3<br>
												1 rue Claude Chappe<br>
												57070 METZ<br>
												<br>
												Adresse postale : BP 95213<br>
												57076 METZ Cedex 03</p>
										</td>
										<td width="53%">
											<p>Standard : 03 87 21 83 00</p>

											<p>mdph@cg57.fr<br>
												site :
												<a href="http://www.mdph57.fr/">http://www.mdph57.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>58<br>
													NIEVRE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												11 rue Emile Combes<br>
												58000 Nevers</p>
										</td>
										<td width="53%">
											<p>Tél. 03 86 71 05 50
												<br>
												fax : 03 86 71 05 62<br>
												<a href="mailto:mdph.nievre@mdph-58.fr" target="Cliquez pour envoyer votre message">mdph.nievre@mdph-58.fr</a>
												<br>
												site :
												<a href="http://www.cg58.fr/services-au-public/maison-departementale-des-personnes-handicapees/">http://www.cg58.fr/services-au-public/maison-departementale-des-personnes-handicapees/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>59<br>
													NORD</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH du Nord (59)<br>
												Plateforme téléphonique : 03 59 73 73 73<br>
												E-mail du siège :
												<a href="mailto:mdph@lenord.fr">mdph@lenord.fr</a>
											</p>

											<p>Site de Villeneuve d'Ascq<br>
												Secteurs de Lille et de Roubaix-Tourcoing<br>
												21 rue de la toison d'or<br>
												59650 VILLENEUVE D'ASCQ<br>
												<a href="mailto:lille-mdph@lenord.fr">lille-mdph@lenord.fr</a><br>
												<a href="mailto:roubaix-tourcoing-mdph@lenord.fr">roubaix-tourcoing-mdph@lenord.fr</a>
											</p>

											<p>Site de Valenciennes<br>
												Secteurs de Valenciennes-Avesnes et de Douai-Cambrai<br>
												160 Boulevard Henri Harpignies<br>
												59300 VALENCIENNES<br>
												<a href="mailto:valenciennes-avesnes-mdph@lenord.fr">valenciennes-avesnes-mdph@lenord.fr</a><br>
												<a href="mailto:douai-cambrai-mdph@lenord.fr">douai-cambrai-mdph@lenord.fr</a>
											</p>

											<p>Site de Dunkerque<br>
												Secteur des Flandres Maritimes et Intérieures<br>
												30 rue de Lhermitte<br>
												59140 DUNKERQUE<br>
												<a href="mailto:dunkerque-mdph@lenord.fr">dunkerque-mdph@lenord.fr</a>
											</p>
										</td>
										<td width="53%">
											<p>
												<a href="https://mdph.lenord.fr/">https://mdph.lenord.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>60<br>
													OISE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 60<br>
												1 rue des Filatures<br>
												Espace Saint-Quentin
												<br>
												60000 Beauvais</p>
										</td>
										<td width="53%">
											<p>03 44 06 60 60<br>
												0 800 894 421 (n°vert)<br>
												ou 0 810 811 468 (n°azur)<br>
												vincent.guilluy@cg60.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>61<br>
													ORNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												13, rue Marchand Saillant<br>
												61000 Alençon</p>
										</td>
										<td width="53%">
											<p>02 33 81 60 00 poste 1560<br>
												02 33 15 00 31<br>
												pascal.denis@cg61.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>62<br>
													PAS DE CALAIS</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Parc d'activité des Bonnettes<br>
												9 rue Willy Brand BP 90266<br>
												62005 ARRAS</p>
										</td>
										<td width="53%">
											<p>03 21 21 84 00<br>
												<a href="mailto:mdph62@mdph62.fr">mdph62@mdph62.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>63<br>
													PUY DE DOME</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												11 rue Vaucansson<br>
												63100 Clermont-Ferrand</p>
										</td>
										<td width="53%">
											<p>04 73 74 51 20<br>
												mdph@cg63.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>64<br>
													PYRENEES ATLANTIQUES</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Cité Administrative - Rue PIERRE BONNARD<br>
												64000 PAU<br>
												Téléphone standard : 05 59 27 50 50</p>
										</td>
										<td width="53%">
											<p>05 59 27 50 50<br>
												mdph.pau@mdph64.com<br>
												dominique.lagrange@mdph64.com</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>65<br>
													HAUTES PYRENEES</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 65<br>
												Centre de santé<br>
												place Ferré<br>
												65000 Tarbes</p>
										</td>
										<td width="53%">
											<p>Tel : 05 62 56 73 45<br>
												Fax : 05 62 56 73 46</p>

											<p>Mail : mdph65@cg65.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>66<br>
													PYRENEES ORIENTALES</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 66<br>
												30 rue Pierre Bretonneau<br>
												66000 Perpignan</p>
										</td>
										<td width="53%">
											<p>Tel : 04 68 39 99 00<br>
												<a href="mailto:mdph66@cg66.fr">mdph66@cg66.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>67<br>
													BAS RHIN</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 67<br>
												6 A, rue du Verdon<br>
												67000 Strasbourg</p>
										</td>
										<td width="53%">
											<p>n°vert : 0 800 747 900<br>
												<a href="mailto:accueil.mdph@cg67.fr">accueil.mdph@cg67.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>68<br>
													HAUT RHIN</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH du Haut Rhin<br>
												48 av de la République BP 20351<br>
												68006 COLMAR cedex</p>

											<p>Antenne de MULHOUSE<br>
												2 rue d’Agen<br>
												68100 MULHOUSE</p>
										</td>
										<td width="53%" valign="top">
											<p>Tél : 03 89 30 68 10<br>
												Fax : 03 89 21 93 49<br>
												N° vert fax : 0 800 100 729<br>
												Mail :
												<a href="mailto:mdph@cg68.fr">mdph@cg68.fr</a>
											</p>

											<p>Tél : 03 89 60 81 83<br>
												Fax 03 89 21 93 49<br>
												Courriel :
												<a href="http://scolaritepartenariat.chez-alice.fr/mdph@cg68.fr">mdph@cg68.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>69<br>
													RHONE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDMPH du Rhône<br>
												La Maison Départementale et Métropolitaine des Personnes Handicapées MDMPH<br>
												8, Rue Jonas Salk,<br>
												69007 LYON<br>
												04 26 83 86 86</p>
										</td>
										<td width="53%">
											<p><br>
												04 26 83 86 86<br>
												Courriel :
												<a href="mailto:handicap@rhone.fr" target="_self">handicap@grandlyon.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>70<br>
													SAONE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 70<br>
												70 rue Derosne
												<br>
												70000 VESOUL</p>
										</td>
										<td width="53%">
											<p>Tél : 03 84 96 12 80<br>
												Fax : 03 84 96 12<br>
												mdph@haute-saone.fr<br>
												<a href="http://www.cg70.fr/web/guest/personnes-handicapees">http://www.cg70.fr/web/guest/personnes-handicapees</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>71<br>
													SAONE ET LOIRE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Place des Carmélites<br>
												71026 MÂCON cedex</p>

											<p>Trois relais de proximité :<br>
												•
												<em>Chalon-sur-Saône :</em><br>
												Centre Médico-Social,<br>
												52 rue Pierre Deliry 71100 Chalon-sur-Saône<br>
												Tél : 03 85 98 28 15<br>
												•
												<em>Le Creusot :</em><br>
												Centre Médico-Social,<br>
												2 avenue de Verdun<br>
												71200 Le Creusot<br>
												Tél : 03 85 77 97 80<br>
												•
												<em>Paray-le-Monial :</em><br>
												Centre Médico-Social,<br>
												Place du champ de foire<br>
												71600 Paray-le-Monial<br>
												Tél : 03 85 81 61 01</p>
										</td>
										<td width="53%" valign="top">
											<p><br>
												9 03 85 21 51 30<br>
												r.corneille@cg71.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>72<br>
													SARTHE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												11, rue de Pied Sec<br>
												CS 81906<br>
												72019 LE MANS cedex 2</p>
										</td>
										<td width="53%">
											<p>Tel 02 43 54 11 90<br>
												FAX 02 43 54 11 94<br>
												N° Vert 0 800 52 62 72<br>
												<a href="mailto:Mdph.sarthe@cg72.fr">Mdph.sarthe@cg72.fr<br>
												</a><br>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>73<br>
													SAVOIE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 73<br>
												110, rue Sainte-Rose<br>
												73000 Chambéry</p>
										</td>
										<td width="53%">
											<p>0 800 0 800 73 (n°vert)<br>
												mdph@cg73.fr<br>
												<a href="http://www.mdph73.fr/">http://www.mdph73.fr/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>74<br>
													HAUTE SAVOIE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 74<br>
												26 avenue de Chevêne -CS 20123 -<br>
												74003 ANNECY CEDEX</p>
										</td>
										<td width="53%">
											<p>Téléphone: 04 50 33 22 50<br>
												Télécopie: 04 50 33 22 54<br>
												Email :
												<a href="mailto:mdph@mdph74.fr">mdph@mdph74.fr</a><br>
												site :
												<a href="http://www.mdph74.fr/">http://www.mdph74.fr</a>
											</p>

											<p>Documentaliste<br>
												Clotilde Vincent</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>75<br>
													PARIS</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH de Paris<br>
												69 rue de la Victoire<br>
												75009 Paris</p>
										</td>
										<td width="53%">
											<p>0 805 800 909<br>
												Télécopie : 01 52 32 37 22<br>
												Email :
												<a href="http://scolaritepartenariat.chez-alice.fr/contact@mdph.paris.fr">contact@mdph.paris.fr</a>
											</p>

											<p>site :
												<a href="https://handicap.paris.fr/">https://handicap.paris.fr/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>76<br>
													SEINE MARITIME</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												13 rue Poret de Blosseville<br>
												76100 ROUEN</p>

											<p>Antenne MDPH du HAVRE<br>
												UTAS - Unité Territoriale d’Action Sociale<br>
												89, boulevard de Strasbourg<br>
												76600 LE HAVRE</p>

											<p>Antenne MDPH de DIEPPE<br>
												UTAS - Unité Territoriale d’Action Sociale<br>
												1, Avenue Pasteur<br>
												76200 DIEPPE</p>

											<p>Antenne MDPH de YVETOT<br>
												CMS – Centre Médico-Social<br>
												31 rue du docteur Zamenhof<br>
												76190 YVETOT</p>

											<p>Antenne MDPH de FECAMP<br>
												CMS – Centre Médico-Social<br>
												5 rue Henri Dunant<br>
												76400 FECAMP</p>
										</td>
										<td width="53%" valign="top">
											<p><br>
												Téléphone : 02 32 18 86 87 ou 0 825 076 776<br>
												Fax : 02 35 62 85 58<br>
												mail :
												<a href="mailto:mdph@cg76.fr">mdph@cg76.fr</a><br>
												<br>
												<a href="http://www.seinemaritime.fr/nos-actions/sante-social/handicap/maison-du-handicap.html">http://www.seinemaritime.fr/nos-actions/sante-social/handicap/maison-du-handicap.html</a>
											</p>

											<p><br>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>77<br>
													SEINE ET MARNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 77<br>
												16 rue de l'Aluminium<br>
												77176 Savigny-le-Temple</p>

											<p>01 64 19 11 40<br>
												contact@mdph77.fr</p>
										</td>
										<td width="53%">
											<p>0 800 147 777<br>
												site :
												<a href="http://www.mdph77.fr/">http://www.mdph77.fr</a><br>
												Sur ce site : des informations d’actualité, une présentation des diverses aides et prestations les formulaires (à télécharger), un annuaire des établissements et les associations de Seine et Marne, une rubrique petites annonces (offres d’emploi ou de matériel d’occasion), informat-ions proposées par les associations...<br>
												contact@mdph77.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>78<br>
													YVELINES</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												21-23 rue du Refuge<br>
												78000 Versailles</p>
										</td>
										<td width="53%">
											<p>0 801 801 100<br>
												contact@mdph.cg78.fr<br>
												<a href="mailto:autonomie78@yvelines.fr">autonomie78@yvelines.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>79<br>
													DEUX SEVRES</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 79<br>
												68, rue Alsace-Lorraine<br>
												CS 58737<br>
												79027 NIORT</p>
										</td>
										<td width="53%">
											<p>05 49 04 41 30<br>
												0 800 400 224 (n°vert)<br>
												<a href="mailto:mdph79@cg79.fr">mdph@deux-sevres.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>80<br>
													SOMME</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH de la Somme<br>
												Centre Administratif Départemental<br>
												1, boulevard du Port<br>
												80000 - AMIENS</p>
										</td>
										<td width="53%">
											<p>Tél.: 0322972410 (standard)<br>
												Fax : 0322975519<br>
												contact@somme.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>81<br>
													TARN</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH du Tarn<br>
												34 route de Fauch<br>
												81000 Albi</p>
										</td>
										<td width="53%">
											<p>05 63 36 19 40<br>
												mdph.ds81@cg81.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>82<br>
													TARN ET GARONNE</strong>
											</p>
										</td>
										<td width="33%" valign="top">
											<p>MDPH 82<br>
												28, rue de la Banque<br>
												82000 Montauban</p>
										</td>
										<td width="53%">
											<p>Tél : 0 800 10 28 48<br>
												mel :
												<a href="http://scolaritepartenariat.chez-alice.fr/mdph@ledeparrtement82.fr">mdph@ledeparrtement82.fr</a><br>
												<a href="http://www.ledepartement.fr/mdph82.html">http://www.ledepartement.fr/mdph82.html</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>83<br>
													VAR</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH du VAR<br>
												Technopôle VAR MATIN<br>
												Route de la Seyne<br>
												83190 OLLIOULES.</p>
										</td>
										<td width="53%">
											<p>Tél : 04 94 05 10 40<br>
												et 0810 830 083<br>
												emarino@cg83.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>84<br>
													VAUCLUSE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Conseil général<br>
												6 boulevard Limbert<br>
												BP 90958<br>
												84092 Avignon cedex 9</p>
										</td>
										<td width="53%">
											<p>0 800 800 579<br>
												brun-d@cg84.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>85<br>
													VENDEE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Hôtel du département<br>
												40, rue du Maréchal Foch<br>
												85923 La Roche sur Yon cedex 9</p>
										</td>
										<td width="53%">
											<p>0800 85 85 01<br>
												francois.sicard@cg85.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>86<br>
													VIENNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 86<br>
												39 rue de Beaulieu<br>
												86000 Poitiers</p>
										</td>
										<td width="53%">
											<p>0 810 862 000<br>
												jmcourtois@cg86.fr<br>
												<a href="http://www.mdph86.fr/">http://www.mdph86.fr/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>87<br>
													HAUTE VIENNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 87<br>
												Site principal : 12 rue du petit tour BP 73129<br>
												87031 Limoges cedex 01<br>
												Site éducation (ancienne CDES) 05 55 56 76 25 : MDPH 87, 5 allée Alfred Leroux BP 3123 , 87031 Limoges cedex 1.<br>
												Site travail (ancienne Cotorep) 05 55 11 66 12</p>
										</td>
										<td width="53%">
											<p>05 55 14 14 50<br>
												jlfaucher@cg87.fr<br>
												mdph@cg87.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>88<br>
													VOSGES</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												1 Allée des Chênes<br>
												88051 Epinal cedex 9</p>
										</td>
										<td width="53%">
											<p>03 29 29 09 91<br>
												mdph88@cg88.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>89<br>
													YONNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH de l'Yonne<br>
												Site du Conseil Général de Perrigny<br>
												10 route de Saint-Georges<br>
												89000 PERRIGNY</p>
										</td>
										<td width="53%">
											<p>Tél : 0800.502.510<br>
												E-mail : mdphy@cg89.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>90<br>
													BELFORT</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Conseil général<br>
												place de la Révolution française -<br>
												90 000 Belfort</p>
										</td>
										<td width="53%">
											<p>03 70 04 89 89</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>91<br>
													ESSONNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												93, rue Henri Rochefort<br>
												91000 EVRY</p>
										</td>
										<td width="53%">
											<p>01 69 91 78 00<br>
												Tél : 01 60 76 11 00<br>
												<a href="http://scolaritepartenariat.chez-alice.fr/mdphe@cd-essonne.fr">mdphe@cd-essonne.fr</a><br>
												<a href="http://www.essonne.fr/sante-social-solidarite/handicap/">http://www.essonne.fr/sante-social-solidarite/handicap/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>92<br>
													HAUTS DE SEINE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												2 rue Rigault<br>
												92000 Nanterre</p>
										</td>
										<td width="53%">
											<p>01 41 91 92 50<br>
												<a href="mailto:mdph@mdph92.fr">mdph@mdph92.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>93<br>
													SEINE SAINT DENIS</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH - Immeuble l'Européen - Bât A 5ème étage<br>
												1-3 promenade Jean Rostand<br>
												93 000 Bobigny</p>
										</td>
										<td width="53%">
											<p>01 48 95 00 00<br>
												info@place-handicap.fr<br>
												<a href="http://www.place-handicap.fr/">http://www.place-handicap.fr/</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>94<br>
													VAL DE MARNE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Immeuble Solidarités<br>
												7/9 voie Félix Eboué<br>
												94046 CRETEIL CEDEX</p>
										</td>
										<td width="53%">
											<p>Tél : 01 43 99 79 00<br>
												<a href="http://scolaritepartenariat.chez-alice.fr/mdph94@cg94.fr">mdph94@cg94.fr</a><br>
												<a href="http://www.cg94.fr/node/8622">http://www.cg94.fr/node/8622</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>95<br>
													VAL D'OISE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Hôtel du département - bâtiment H<br>
												2 av. du Parc<br>
												95032 CERGY cedex</p>
										</td>
										<td width="53%">
											<p>08 00 30 07 01<br>
												<a href="http://scolaritepartenariat.chez-alice.fr/maisonduhandicap@valdoise.fr">maisonduhandicap@valdoise.fr</a><br>
												<a href="http://www.mdph.valdoise.fr/720-ma-mdph.htm">http://www.mdph.valdoise.fr/720-ma-mdph.htm</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>971<br>
													GUADELOUPE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												Immeuble Romarin<br>
												Rue Ferdinand Forest<br>
												Z.I de Jarry<br>
												97122 Baie-Mahault<br>
												<br>
												antenne :<br>
												à Bisdary 97113 Courbeyre ;<br>
												05 90 41 14 42</p>
										</td>
										<td width="53%">
											<p>05 90 83 14 28<br>
												Fax : 05 90 89 61 93<br>
												contact@mdph-971.fr</p>

											<p>http://www.mdph-971.fr/<br>
												<br>
												Tél 0590 41 14 42
												<br>
												Fax 0590 80 79 98</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>972<br>
													MARTINIQUE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH 972<br>
												Maison Départementale des Personnes<br>
												Handicapées de la Martinique<br>
												Lot Dillon Stade<br>
												1 Rue Georges Eucharis<br>
												Espace Pythagore<br>
												97200 FORT DE FRANCE</p>
										</td>
										<td width="53%">
											<p>Tél. 05 96 70 09 95<br>
												Fax 05 96 74 01 06<br>
												Mail :
												<a href="mailto:contact.mdph@cg972.fr">contact.mdph@cg972.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>973<br>
													GUYANE</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH de la Guyane<br>
												Direction générale adjointe solidarité et prévention<br>
												19 rue Schoelcher - BP 023<br>
												97307 Cayenne cedes</p>
										</td>
										<td width="53%">
											<p>05 94 29 57 03<br>
												max.ventura@cg973.fr</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>974<br>
													REUNION</strong>
											</p>
										</td>
										<td width="33%">
											<p>MDPH<br>
												13, rue Fénélon<br>
												BP 60183<br>
												97464 Saint-Denis Cédex</p>
										</td>
										<td width="53%">
											<p>0800 000 262<br>
												<a href="mailto:mdph974@orange.fr">mdph974@orange.fr</a>
											</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>975<br>
													SAINT PIERRE ET MIQUELON</strong>
											</p>
										</td>
										<td width="33%">
											<p>Voir : Direction Départemengtale des Affaires Sanitaires et Sociales<br>
												Rue de l'abbé Pierre Gervain - BP 4200<br>
												97500 St Pierre et Miquelon</p>
										</td>
										<td width="53%">
											<p>.</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>976<br>
													MAYOTTE</strong>
											</p>
										</td>
										<td width="33%">
											<p>Voir : Direction Départemengtale des Affaires Sanitaires et Sociales<br>
												BP 104<br>
												97600 Mamoudzou</p>
										</td>
										<td width="53%">
											<p>.</p>
										</td>
									</tr>

									<tr>
										<td width="15%" valign="top">
											<p>
												<strong>987<br>
													POLYNESIE FRANCAISE</strong>
											</p>
										</td>
										<td width="33%">
											<p>Voir : Présidence du Gouvernement de Polynésie Française<br>
												BP 2551<br>
												98713 Papeete - Tahiti</p>
										</td>
										<td width="53%">
											<p>06 89 54 34 50</p>
										</td>
									</tr>

								</tbody>
							</table>


						</td>
					</tr>

					<tr>
						<td colspan="2" width="100%">
							<p>Mise à jour : 10/02/19</p>
						</td>
					</tr>

				</tbody>
			</table>

		</div>
	{% endblock %}
