{% extends 'base.html.twig' %}

{% block title %}À propos de nous
{% endblock %}

{% block body %}

	<div class="aboutus-section">
		<div class="container">
			<div class="row">
				<div class="col col-sm-6 col-xs-12 mt-5">
					<div class="aboutus ">
						<h2 class="aboutus-title">À propos de nous
						</h2>
						<p class="aboutus-text mt-3">Nous sommes deux parents d’enfants diagnostiqués autistes et de ce fait, nous sommes passés et passons toujours par de nombreuses difficultés.
																																																														L’une des difficultés principales à nos yeux est de pouvoir contacter des professionnels du médical et paramédical sachant prendre en charge les enfants autistes.
						</p>
						<p class="aboutus-text">Dans notre parcours médical avec nos enfants, on reçoit souvent de bons conseils de part et d’autre, mais comment les appliquer si nous ne trouvons pas les bons professionnels pour nous aider ?
						</p>
						<p class="aboutus-text">Un jour une belle idée nous a traversé l’esprit, et s’il suffisait de faire deux clique sur internet pour trouver tous les professionnels dont on a besoin…
																																																														Le but de ce site est de faire de cette belle idée une réalité, répertorié tous les professionnels de l’autisme sur tout le territoire français et que à terme, les parents de n’importe où en France n’est plus qu’à faire deux clics pour trouver de l’aide pour leurs enfants.</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-12 mt-5">
					<div class="aboutus-banner">
						<img src="/images/autismInter.png" alt="image d'un point d'interrogation">
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 mt-5">
					<div class="feature">
						<div class="feature-box">
							<div class="clearfix">
								<div class="iconset">
									<span class="glyphicon glyphicon-cog icon"></span>
								</div>
								<div class="feature-content">
									<h4>COMMENT NOUS AIDER ?</h4>
									<p>Pour nous aider, c’est très simple :
																																																												 Diffuser au maximum autour de vous l’adresse de ce site, à vos amis, famille et aussi sur les réseaux sociaux afin que le maximum de personnes prenne connaissance de ce site.
									</p>
									<p>Vous connaissez des professionnels de l’autisme ? N’hésitez pas à nous contacter via le formulaire du site, nous ferons le nécessaire pour contacter le professionnel et l’inscrire à notre base de données.</p>
								</div>

							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
		<blockquote class="blockquote text-center mt-5">
			<p class="mb-0"><i class="fas fa-quote-left"></i> Nous ne pouvons pas aider tout le monde, mais tout le monde peut aider quelqu’un. <i class="fas fa-quote-right"></i></p>
			<footer class="blockquote-footer">
				<cite title="Source Title">Ronald Reagan</cite>
			</footer>
		</blockquote>
	</div>
{% endblock %}
